<!DOCTYPE html>
{#{% trans_default_domain 'MailThemeInspiniaBundle' %}#}
<html>

{#<head>#}
{# Meta #}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}

{#    {% block mail_meta %}#}
{#    {% endblock mail_meta %}#}

{#    #}{# Title #}
{#    {% block mail_title %}#}
{#        <title></title>#}
{#    {% endblock mail_title %}#}

{# Css #}
{#    {% block mail_css %}#}
{#        <link href="{{ asset('bundles/mailthemeinspinia/css/bootstrap.min.css') }}" rel="stylesheet">#}
{#        <link href="{{ asset('plugins/font-awesome/css/all.min.css') }}" rel="stylesheet">#}
{#        <link href="{{ asset('plugins/font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">#}

{#        <link href="{{ asset('plugins/iCheck/custom.css') }}" rel="stylesheet">#}

{#        <link href="{{ asset('bundles/mailthemeinspinia/summernote/font/summernote.css') }}" rel="stylesheet">#}

{#        <link href="{{ asset('bundles/mailthemeinspinia/css/animate.css') }}" rel="stylesheet">#}
{#        <link href="{{ asset('bundles/mailthemeinspinia/css/style.css') }}" rel="stylesheet">#}


{#        <link href="{{ asset('assets/plugins/flag-icon-css-master/css/flag-icon.min.css') }}" rel="stylesheet">#}
{#        <link href="{{ asset('bundles/mailcore/css/notification.css') }}" rel="stylesheet">#}

{#        <link href="{{ asset('assets/css/inspinia-custom.css') }}" rel="stylesheet">#}
{#        <link href="{{ asset('assets/css/inspinia-nw.css') }}" rel="stylesheet">#}
{#    {% endblock mail_css %}#}
{#</head>#}

<body>
{% block mail_body %} {% endblock mail_body %}

{#{% block mail_js %}#}
{#    #}{#-- Mainly scripts --#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/jquery-3.1.1.min.js') }}"></script>#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/bootstrap.min.js') }}"></script>#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>#}

{#    #}{#-- Custom and plugin javascript --#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/inspinia.js') }}"></script>#}
{#    <script src="{{ asset('bundles/mailthemeinspinia/js/plugins/pace/pace.min.js') }}"></script>#}

{#    -- iCheck --#}
{#    <script src="{{ asset('plugins/iCheck/icheck.min.js') }}"></script>#}

{#    -- summernote --#}

{#<script src="{{ asset('bundles/mailthemeinspinia/js/plugins/summernote/summernote.min.js') }}"></script>#}

</body>
</html>

